{% extends "base.html" %}
{% load i18n %}{% load socialaccount %}
{% block content %}
<div class="social-connect-buttons">
    <nav>
    <a href="{% provider_login_url "twitter" %}">Connect with Twitter</a>
    </nav>
</div>
<div class="friends">
    {% if not connected_providers %}
        {% trans "Connect to one of the social networks above" %}
    {% elif not friends %}
        {% trans "No friends found" %}
    {% else %}
        <ul>
            {% for friend in friends %}
            <li>
                {{ friend }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
